* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: wheat;
}

.wrapper {
    width: 1500px;
    margin: 0 auto;
    position: relative;
}

.dia-block {
    padding: 101px;
    background-color: black;
    position: absolute;
    top: 50px; 
    left: 50px;
}

.dia-image {
    margin: 0 auto;
}

.flag {
    padding: 30px;
    border-radius: 6px;
    background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.speechify-square {
    padding: 101px;
    position: absolute;
    background-color: #FFD84B;
    top: 420px;
    left: 450px;
    z-index: 1;
}

.imgblueinside {
    margin: -100px -300px -100px -100px;
    width: 600px;
}
.classline1 {
    margin-top: -35px;
}
.speechify-circle {
    position: absolute;
    background-color: #ffffff;
    top: 840px;
    left: 930px;
    padding-bottom: 101px;
    margin-right: 50px;
    border: 5px solid #2137FC;
}

.circle {
    padding: 70px;
    background-color: #FFD84B;
    margin-top: -280px;
    margin-bottom: 1px;
    padding-bottom: 290px;
    border-radius: 50%;
    margin-left: 100px;
    margin-right: 100px;
}

.imgblue02 {
    padding: 100px;
    margin: 0 auto;
}


